<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
      <meta charset="utf-8">
      <title>Log in with your account</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link th:href="@{/public/css/main.css}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <h2 class="form-heading">Register your account</h2> 
        <div class="form-group">  
        <form name="form-register" th:action="@{/public/api/access/register/registerUser}" method="post">

        <div th:object="${userregdto}">   
        <div class="form-group">
             <div class="over-label">First Name</div>
         <input type="text" class="form-control" id="inputFName" aria-describedby="fnameHelp" th:field="*{firstName}">
        </div>
         <div class="form-group">
             <div class="over-label">Middle Name</div>
         <input type="text" class="form-control" id="inputMName" aria-describedby="mnameHelp" th:field="*{middleName}">
        </div>

         <div class="form-group">
             <div class="over-label">Surname Name</div>
         <input type="text" class="form-control" id="inputSName" aria-describedby="snameHelp" th:field="*{lastName}">
        </div>
        </div> 

        <div th:object="${userdto}">   
        <div class="form-group">
    		     <div class="over-label">Email</div>
   			 <input type="email" class="form-control" id="inputMail" aria-describedby="emailHelp" th:field="*{mail}">
 	     	</div>
  
         <div class="form-group">
          <div class="over-label">Username</div>
          <input type="text" class="form-control" id="inputUsername" aria-describedby="emailHelp" th:field="*{username}">
         </div>

        <div class="form-group">
            <div class="over-label">Password</div>
            <input type="password" class="form-control" id="inputPassword" th:field="*{password}">
        </div>   

        <div class="form-group">
            <div class="over-label"> Confirm Password</div>
            <input type="password" class="form-control" id="inputConfirmPassword" th:field="*{confirmPassword}">
        </div> 
        </div>

         <div th:object="${orgdto}"> 
          <div class="form-group">
            <div class="over-label">Organization Name</div>
            <input type="text" class="form-control" id="orgName" aria-describedby="orgnameHelp" th:field="*{name}">
            </div>	
         </div>  
   
   </div>
       
          <div class="has-error" th:if="${errorMessage}"  th:text="${errorMessage}">Error</div>
       
  <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
</div>    
    </div>
  </body>
</html>