<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
  	   <!-- @author Daniele Francesco Santamaria daniele.santamaria@unict.it 
         -- https://github.com/dfsantamaria/SpringBootFastDeploy.git -- -->
      <meta charset="utf-8">
      <title>Resend the registration email</title>
      <th:block th:insert="fragments/head-2.html"/>
  </head>
  <body>
  	<div class="outer">
    <div class="container">
      <h2 class="form-heading">Confirm your data</h2> 
        <div class="form-group">    
        <form name="form-signin" th:action="@{/public/api/access/registration/confirmResendRegister}" method="post">                   
                   
                 <div class="over-label">
                   <div class="input-group mb-3">  
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div> 
                  <input name="username" type="text" class="form-control" placeholder="Username or Email" autofocus="true"/>
                 </div>
               </div>


                 <div class="over-label">
                  <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-lock"></i></span>
                   </div> 
                  <input name="password" id="password" type="password" class="form-control"  placeholder="Password"  minlength="8"/> 
                  <div class="input-group-append">
                     <span class="input-group-text" type="button" onclick="togglePassword('password','show_eye','hide_eye');">
                     <i class="fas fa-eye" id="show_eye"></i>
                     <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                     </span>
                   </div>
                </div>
               </div>
                 

                <div th:if="${errorCredentials}" th:text="${errorCredentials}" class="has-error">  Error credentials   </div>  
                <div th:if="${generalError}" th:text="${generalError}" class="has-error"> General error  </div>               
                
                <div th:if="${confirmReg}" th:text="${confirmReg}"class="alert-do"> Confirm registration  </div>  
                

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button> 
            
        </form>
    </div>
  </div>
</div>

    <div th:insert="fragments/cookie.html"> </div> 

  </body>
</html>