<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
  	   <!-- @author Daniele Francesco Santamaria daniele.santamaria@unict.it 
         -- https://github.com/dfsantamaria/SpringBootFastDeploy.git -- -->
      <meta charset="utf-8">
      <title>Log in with your account</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link th:href="@{/public/css/main.css}" rel="stylesheet">
  </head>
  <body>
  	<div class="outer">
    <div class="container">
      <h2 class="form-heading">Confirm your data</h2> 
        <div class="form-group">    
        <form name="form-signin" th:action="@{/public/api/access/registration/confirmResendRegister}" method="post">                   
                   
                 <div class="over-label"><input name="username" type="text" class="form-control" placeholder="Username or Email" autofocus="true"/></div>
                 <div class="over-label"><input name="password" type="password" class="form-control"  placeholder="Password"  minlength="8"/> </div>
                 

                <div th:if="${errorCredentials}" th:text="${errorCredentials}" class="has-error">  Error credentials   </div>  
                <div th:if="${generalError}" th:text="${generalError}" class="has-error"> General error  </div>               
                
                <div th:if="${confirmReg}" th:text="${confirmReg}"class="alert-do"> Confirm registration  </div>  
                

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button> 
            
        </form>
    </div>
  </div>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    

  </body>
</html>