<html xmlns:th="http://www.thymeleaf.org">
 <head>
      <meta charset="utf-8">
      <title>Home page</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

      <link th:href="@{/public/css/topNav.css}" rel="stylesheet">
      <link th:href="@{/public/css/main.css}" rel="stylesheet">
  </head>



<body>
 <div class="topnav">
  <a class="active" th:href="@{/auth/api/all/accountview}"> Account </a>
  <a th:href="@{/auth/api/access/login/signout}">Signout</a> 
 </div>

  <div class="outer">
	<div class="container">
	<h2 class="form-heading">Welcome!</h2> 
	<div><p>Its <label th:text="${serverTime}"> now </label></p></div>	  
  </div>
</div>
</body>
</html>