<html xmlns:th="http://www.thymeleaf.org">
 <head>
      <meta charset="utf-8">
      <title>Home page</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

      <link th:href="@{/public/css/topNav.css}" rel="stylesheet">
      <link th:href="@{/public/css/main.css}" rel="stylesheet">
  </head>



<body>
 <div class="topnav">
  <a class="active" th:href="@{/auth/api/all/accountView}"> Account </a>
  <a th:href="@{/auth/api/access/login/signout}">Signout</a> 
 </div>

  <div class="outer">
	<div class="container">
	<h1 class="form-heading">Welcome!</h1> 
	<div><p>Its <label th:text="${serverTime}"> now </label></p></div>	  
      
      <fieldset>
      	  <legend> Your information </legend>      	  
      	  <p>
      	  <span th:if="${viewName}"> Name: <span style="font-weight: bold" th:text="${viewName}"> Name </span> </br> </span>	
      	  <span th:if="${viewMiddleName}"> Middle name: <span style="font-weight: bold" th:text="${viewMiddleName}"> Middle name </span> </br> </span>	
      	  <span th:if="${viewLastName}"> Last name: <span style="font-weight: bold" th:text="${viewLastName}"> Last name </span> </br> </span>	
          <span th:if="${viewUsername}"> Username: <span style="font-weight: bold" th:text="${viewUsername}"> Username </span> </br> </span>
          <span th:if="${viewMail}"> Email: <span style="font-weight: bold" th:text="${viewMail}"> Mail </span> </br> </span> 
          <span th:if="${viewOrgName}"> Organization name: <span style="font-weight: bold" th:text="${viewOrgName}"> Org name </span> </br> </span>  
          </p>        
      </fieldset>
     
   
      <form name="form-edit" th:action="@{/auth/api/all/updateData}" method="post">   
        <div class="form-group">
         <fieldset>
          <legend>  Change password </legend>          
          <div th:object="${passdto}">
          <input name="password" type="password" class="form-control"  minlength="8" placeholder="New Password"/>          
          <input name="confirmPassword" type="password" class="form-control"  minlength="8" placeholder="Confirm Password"/>  
          </div>                            
          <div th:if="${passwordAccepted}" th:text="${passwordAccepted}" class="alert-success">  Password modified  </div>
          <div th:if="${passwordError}" th:text="${passwordError}" class="has-error">  Error, check the passowrd fields  </div>          
        </fieldset>
       </div>          
          
       <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>                 
       </form>
                  
   </div>
   </div>
</body>
</html>