<html xmlns:th="http://www.thymeleaf.org">
 <head>
      <meta charset="utf-8">
      <title>Home page</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

      <link th:href="@{/public/css/topNav.css}" rel="stylesheet">
      <link th:href="@{/public/css/main.css}" rel="stylesheet">
  </head>



<body>
 <div class="topnav">
  <a class="active" th:href="@{/auth/api/all/accountView}"> Account </a>
  <a th:href="@{/auth/api/access/login/signout}">Signout</a> 
 </div>

  <div class="outer">
	<div class="container">
	<h2 class="form-heading">Welcome!</h2> 
	<div><p>Its <label th:text="${serverTime}"> now </label></p></div>	  
  
   
      <form name="form-edit" th:action="@{/auth/api/all/updateData}" method="post">   
        <div class="form-group">
          <p>  Change password </p>
          <div th:object="${passdto}">
          <input name="password" type="password" class="form-control"  minlength="8" placeholder="New Password"/>
          <input name="confirmPassword" type="password" class="form-control"  minlength="8" placeholder="Confirm Password"/>  
          </div>                            
          <div th:if="${passwordAccepted}" th:text="${passwordAccepted}" class="alert-success">  Password modified  </div>
          <div th:if="${passwordError}" th:text="${passwordError}" class="has-error">  Error, check the passowrd fields  </div>
       </div>          
          
       <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>                 
       </form>
                  
   </div>
   </div>
</body>
</html>