 /* @author Daniele Francesco Santamaria daniele.santamaria@unict.it 
 -- https://github.com/dfsantamaria/SpringBootFastDeploy.git -- */

body
{
    background-color: #eee;
}

.outer {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30%;
    padding-right: 30%;
    background-color: #eee;
}

.outer-big {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #eee;
}

.container-in {
  max-width: 700px;
  min-width: 400px;
  margin: auto;  
  padding: 10px;
}

.container {
  max-width: 500px;
  min-width: 400px;
  margin: auto;  
  padding: 10px;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.checkbox {
    margin-bottom: 10px;
}

.checkbox {
    font-weight: normal;
}

.over-label
{
  margin-top: 5px;   
}

 .form-control
 {   
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
    font-size: 16px;          
}

body{
    min-width: 700px;
}

.form-control:focus {
    z-index: 2;
}

.left-align
{
  float: left;
}

.right-align
{
  float: right;  
}

input{   
       
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

button {
    margin-top: 5px;
}

.has-error {
    margin-top: 3px; 
    color: black;
    background-color: red;
    text-align: center;
    font-weight: bold;
}

.alert-do {
    margin-top: 3px; 
    color: black;
    background-color: yellow;
    text-align: center;
    font-weight: bold;
}

.alert-success {
    margin-top: 3px; 
    color: black;
    background-color: lightgreen;
    text-align: center;
    font-weight: bold;
}

fieldset
 {
    margin:0;
    padding:0;
    border:solid
 }

legend
{
  width:auto; 
  margin-bottom: 3px;   
  margin-left:10px;
  color: #1f497d;
}


fieldset > div 
{
  margin-bottom: 7px;
  margin-left: 20px; 
  max-width: 90%;  
}

field-inside
{
  display: flex;
  flex-wrap: wrap;	
  margin-top: 10px;
}

.wordWrap 
{
  word-break: break-all; 
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
    font-weight: bold; 
    overflow: hidden; 
    text-align: left;
}