 /* @author Daniele Francesco Santamaria daniele.santamaria@unict.it 
 -- https://github.com/dfsantamaria/SpringBootFastDeploy.git -- */

.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #0d47a1;
  color: white;
}

.topnav a.active {
  background-color: #4285F4;
  color: white;
}
