<html>
    <head>
        <title>Cookie Consent</title>        
    </head>
    <body>
        <div id="cookie-consent" class="cookie-consent">
          <span>This site uses cookies to enhance user experience. see <a href="https://www.unict.it/it/content/privacy-policy" target="_blank" class="ml-1 text-decoration-none">Privacy policy</a> </span>
          <div  class="mt-2 d-flex align-items-center justify-content-center g-2">
            <button id="cookie-ok-button" class="cookie-allow-button mr-1">I'm aware</button>            
          </div>          
        </div>
    </body>
</html>
