<th:block th:fragment="pagebar(formname)">     
      <!-- Page number -->                  
             <select th:attr="form=${formname}" class="form-control form-control-sm" style="height: 38px " id="pageSelect" th:field="*{paging.itemsNumber}">                        
              <option  th:each="val: ${itemVals}"  th:value="${val}" th:text="${val}"> 
              </option>             
             </select>              
             <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item page-item disabled">
                    <a class="page-link"                        
                        href="javascript:;"
                        th:onclick="document.getElementById([[${formname}]]).submit();">
                        1
                    </a>
                </li>           
                <li class="page-item page-item disabled">               
                 <a class="page-link" href="#">Next</a>
                </li>           
             </ul>              
         <!-- End page number th:onclick="'alert(\'static variable used here.\');'" -->      
</th:block>