 <!-- @author Daniele Francesco Santamaria daniele.santamaria@unict.it 
 -- https://github.com/dfsantamaria/SpringBootFastDeploy.git -- --> 
<th:block>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" th:href="@{/auth/api/all/accountView}">My account</a>
          <a class="dropdown-item" th:href="@{/auth/api/access/login/signout}">Signout</a>         
        </div>
      </li>
      
      <li th:if="${userPage}" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Users
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
          <a class="dropdown-item" th:href="@{/auth/api/admin/usersView}"  th:text="${userPage}"> Users</a>         
        </div>
      </li>
      
    </ul>
  </div>
</nav>
</th:block>