<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title">Messages : Create</title>
  </head>
  <body>
    <div tiles:fragment="content">
        <form name="f" th:action="@{/public/api/access/registerUser}" method="post">

        <div th:object="${userdto}">   
        <div class="form-group">
    		<label for="exampleInputEmail1">Email</label>
   			 <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{mail}">
 		</div>
  
         <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" class="form-control" id="exampleUsername1" aria-describedby="emailHelp" th:field="*{username}">
         </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" th:field="*{password}">
        </div>   

        <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" th:field="*{confirmPassword}">
        </div> 
        </div>

         <div th:object="${orgdto}"> 
          <div class="form-group">
            <label for="examplenName1">Organization Name</label>
            <input type="text" class="form-control" id="orgName" aria-describedby="orgnameHelp" th:field="*{name}">
            </div>	
         </div>  
   
   </div>
       
          <div class="alert alert-error" th:if="${errorMessage}"  th:text="${errorMessage}">Error</div>
       
  <button type="submit" class="btn btn-primary">Submit</button>
</form>    
    </div>
  </body>
</html>