<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
  	   <!-- @author Daniele Francesco Santamaria daniele.santamaria@unict.it 
            -- https://github.com/dfsantamaria/SpringBootFastDeploy.git -- -->
      <meta charset="utf-8">
      <title>Log in with your account</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
      <link th:href="@{/public/css/main.css}" rel="stylesheet">
      <link th:href="@{/public/css/cookie.css}" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>
      <script th:src="@{/public/js/cookie.js}" type="text/javascript"></script>
      <script th:src="@{/public/js/togglePassword.js}" type="text/javascript"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>   
  </head>
  <body>
  	<div class="outer">
    <div class="container">
      <h2 class="form-heading">Plaform Log In</h2> 
        <div class="form-group">    
        <form name="form-signin" th:action="@{/public/api/access/login/signin}" method="post">  
                 <div class="over-label">
                   <div class="input-group mb-3">  
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div> 
                        <input name="username" type="text" class="form-control" placeholder="Username or Email" autofocus="true"/>                 
                 </div>
               </div>
                
                 <div class="over-label">  
                  <div class="input-group mb-3">
                  <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-lock"></i></span>
                 </div>                
                  <input name="password"  type="password" class="form-control" id="password" placeholder="Password"/> 
                  <div class="input-group-append">
                     <span class="input-group-text" type="button" onclick="togglePassword('password','show_eye','hide_eye');">
                     <i class="fas fa-eye" id="show_eye"></i>
                     <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                     </span>
                   </div>                 
                </div> </div>
            <div class="over-label">
                 <div>
                   <input type="checkbox" name="remember-me" placeholder="Remember Me"/> Remember me
                </div>
            </div>
                <div th:if="${param.errorLogin}" class="has-error">    Invalid combination of username and password.       </div>
                <div th:if="${param.error}" class="has-error">   Unmanaged error.       </div>
                <div th:if="${param.logout}" class="alert-success">     You have been logged out.  </div>

                 <div th:if="${param.errorEnabled}" class="has-error">   Registration not completed. Chech your inbox or  <a th:href="@{/public/api/access/registration/resendRegister}">request a new registration email.     </div>
                 <div th:if="${param.errorExpired}" class="has-error">   User account is expired.   </div>
                 <div th:if="${param.errorLocked}" class="has-error">     User account is locked.  </div>
                 <div th:if="${param.errorCredentials}" class="has-error"> User credentials are expired.  </div>
                 <div th:if="${param.errorAttempts}" class="has-error"> Too many attempts. Retry in 60 minutes from now. </div>
               
                <div th:if="${confirmReg}" class="alert-do"> 
                	<span th:text="${confirmReg}"> Registration ok </span>	<span> or <a th:href="@{/public/api/access/registration/resendRegister}"> request a new registration email. </a> </span>
                </div> 
                <div th:if="${changedPassword}" th:text="${changedPassword}" class="alert-success"> Password changed </div>                                
                <div th:if="${tokenVerified}" th:text="${tokenVerified}" class="has-error"> Registration already verified </div>                                
                <div th:if="${tokenFailed}"  class="has-error">
                	<span th:text="${tokenFailed}"> Token Failed </span> <span>, <a th:href="@{/public/api/access/registration/resendRegister}"> request a new registration email. </a> </span>
                </div>


                <div th:if="${tokenSuccess}" th:text="${tokenSuccess}" class="alert-success">   Token success  </div>
               
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
                <div class="left-align"><td><a th:href="@{/public/api/access/registration/register}"> Register a new account</a></td></div>
                <div class="right-align"><td ><a th:href="@{/public/api/access/recover/viewRecoverPassword}"> Recover password</a></td> </div>
            
        </form>
    </div>
   </div>  
            <div th:insert="fragments/cookie.html"> </div> 
    </body>
  </html>