<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
  	   <!-- @author Daniele Francesco Santamaria daniele.santamaria@unict.it 
         -- https://github.com/dfsantamaria/SpringBootFastDeploy.git -- -->
      <meta charset="utf-8">
      <title>Recover Password</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />

      <link th:href="@{/public/css/main.css}" rel="stylesheet">

      <script th:src="@{/public/js/togglePassword.js}" type="text/javascript"></script>
  </head>
  <body>
  	<div class="outer">
    <div class="container">
      <h2 class="form-heading">Reset your password</h2> 
        <div class="form-group">    
        <form name="form-signin" th:action="@{/public/api/access/recover/changePassword}" method="post">     
               <input type="hidden" name="token" th:value="${token}" />    
               <div th:object="${passdto}">
                  <div class="over-label">
                    <div class="input-group mb-3">
                       <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                       </div>
                    
                     <input name="password" type="password" class="form-control" placeholder="Password" id="password"/> 
                        <div class="input-group-append">
                     <span class="input-group-text" type="button" onclick="togglePassword('password','show_eye','hide_eye');">
                     <i class="fas fa-eye" id="show_eye"></i>
                     <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                     </span>
                   </div>
                  </div>

                    <div class="input-group mb-3">
                       <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                       </div>

                     <input name="confirmPassword" type="password" class="form-control" placeholder="Confirm Password" id="confirmPassword"/> 
                        <div class="input-group-append">
                     <span class="input-group-text" type="button" onclick="togglePassword('confirmPassword','conf_show_eye','conf_hide_eye');">
                     <i class="fas fa-eye" id="conf_show_eye"></i>
                     <i class="fas fa-eye-slash d-none" id="conf_hide_eye"></i>
                     </span>
                   </div>
                  </div>
              </div>
              <div class="has-error" th:if="${passError}"  th:text="${passError}"> The error</div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button> 
            
        </form>
    </div>
  </div>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    

  </body>
</html>