<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
  	   <!-- @author Daniele Francesco Santamaria daniele.santamaria@unict.it 
         -- https://github.com/dfsantamaria/SpringBootFastDeploy.git -- -->
      <meta charset="utf-8">
      <title>Recover Password</title>
      <th:block th:insert="fragments/head-2.html"/>
  </head>
  <body>
  	<div class="outer">
    <div class="container">
      <h2 class="form-heading">Insert your email</h2> 
        <div class="form-group">    
        <form name="form-signin" th:action="@{/public/api/access/recover/sendRecoverPassword}" method="post">                   
                 
                  <div class="over-label">
                        <div class="input-group mb-3">  
                                 <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                  </div> 
                        <input type="email" class="form-control" name="mail" aria-describedby="emailHelp"
                        placeholder="Email" autofocus="true"/>
                  </div>  
                  </div>    
                  <div th:if="${requestNewPassword}" th:text="${requestNewPassword}" class="alert-do"> Request new password </div>          
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button> 
            
        </form>
    </div>
  </div>
</div>    
  <div th:insert="fragments/cookie.html"> </div> 
  </body>
</html>